/* CSS styles go here */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

footer {
	background-color: #333;
	color: #fff;
	ng: 10px;
	text-align: center;
	font-size: 15px;
}

h1 {
	margin: 0;
	font-size: 36px;
	font-weight: normal;
	text-transform: uppercase;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
	text-align: center;
}

.portfolio-item {
	flex: 0 0 calc(33.33% - 20px);
	margin-bottom: 20px;
	border-radius: 1%;
}
		
.portfolio-item:hover {
	transform: translateY(-5px);
	box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}

		
.portfolio-item img {
	width: 10%;
	height: auto;
}

.placetitle {
	font-size: 22px;
	font-weight: normal;
}

.objectplacetitle {
	margin-top: 5%;
	font-size: 30px;
	font-weight: normal;
	text-transform: none;
	text-align: center;
}

.portfolio-map {
	margin: auto;
}

.portfolio-img {
	margin-left: 24%;
	max-width: 1000px;
	max-height: 1000px;
}

.portfolio-description {
	font-size: 22px;
	font-weight: normal;
	text-transform: none;
	text-align: center;
}
